
#prouct_info {
	margin: 0 auto;
	margin-top: 55px;

	width: 75vw;
	display: flex;
}


.image_display_section {
	width: 35vw;
	height: 80vh;
	
	display: flex;
	justify-content: center;
	text-justify: center;

	position: relative;
}
	.time_feature {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	font-size: xx-large;
	font-weight: 800;
	}
	.heartbeat_feature {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: white;
	font-size: xx-large;
	font-weight: 800;
	}
		.heartbeat_feature i {
			color: red;
			animation: beat 1s infinite;
		}
		@keyframes beat {
			0% {
				transform: scale(1.1,1.1);
			}
			50% {
				transform: scale(1, 1);
			}
			100% {
				transform: scale(0.8,0.8);
			}
		}
		.heartbeat_feature p {
			color: rgb(25, 131, 81);
		}